# Entorno virtual
venv/
.venv/

# Archivos de Python
__pycache__/
*.py[cod]

# Variables y secretos
.env

# Base de datos local
db.sqlite3

# Archivos generados por Django
staticfiles/
media/

# Configuración del editor
.vscode/
.idea/

# Logs
*.log